.countdown {
    margin: 0 auto;
    color: white;
    border-radius: 0 0 12px 12px;
    display: flex;
    top: 0;
    z-index: 30;
    flex-wrap: wrap;
    justify-content: center;
}

.countdown span {
    font-weight: 400;
    font-size: 14px;
    line-height: 12px;
    /* identical to box height, or 120% */
    color: #FFFFFF;
}

@media only screen and (min-width: 500px) {
    .countdown {
        flex-direction: row;
        width: fit-content;
    }
    .countdown span {
        font-size: 14px;
        margin-top: 0;
    }
    .countdown a {
        font-size: 16px;
        margin-top: 0;
    }
}