.login h3 {
    font-style: normal;
    font-weight: 600;
    font-size: 35px;
    line-height: 46px;
    margin-bottom: 0;
    margin-top: 5px;
    text-align: center;
    color: #E90404;
}

.login>span {
    display: block;
    color: #444656;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-align: center;
    margin: 10px 0;
}

.login>div,
.login>div:last-child {
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.login>div * {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
}

.login>div a {
    margin: 16px 0;
    color: #4959cf;
}

.form {
    margin-top: 20px;
}

.form label,
.form label input {
    display: block;
}

.form label {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 18px;
    color: rgba(0, 0, 0, 0.50);
}

.form label {
    margin-bottom: 20px;
}

.form label input {
    margin-top: 8px;
    border-radius: 10px;
    border: 1px solid #FFF4F4;
    background: #FFF4F4;
    width: 100%;
    height: 41px;
    padding-left: 10px;
}

.form>label input,
.form>div>label input {
    width: 90%;
}

.form label input:focus-visible {
    outline: none;
    background-color: aliceblue;
}

.form span {
    display: block;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 15px;
    color: rgba(68, 70, 86, 0.5);
    text-align: center;
}

.form button {
    height: 55px;
    width: 200px;
    cursor: pointer;
    font-size: 15px;
    border-radius: 10px;
    background: #E90404;
    color: #fff;
    border: 2px solid #E90404;
    transition: all 0.8s;
    position: relative;
    overflow: hidden;
    display: block;
    margin: 40px auto 0 auto;
}

.form button:hover {
    background-color: #fff;
    color: #E90404;
}

.formFlex {
    margin-top: 20px;
}

.login>div:has(span) {
    margin-top: 10px;
}

.login>div:has(span) span,
.login>div:has(span) a {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */
    color: #a4a4a4;
}

.login> :nth-child(4) {
    margin-top: 20px;
}

.login>div:has(span) a {
    padding: 0 !important;
    margin: 0;
    color: #4959cf;
}

.dark.login>p {
    color: #fff;
}

.dark.login>div p {
    color: #fff;
}

.dark .form label {
    color: rgba(255, 255, 255, 0.50);
}

.dark .form label input {
    color: #fff;
    background: transparent;
}

.dark .form span {
    color: rgba(225, 226, 233, 0.5);
}

.dark .form button:hover {
    background-color: transparent;
    color: #fff;
}

@media only screen and (min-width: 640px) {
    .formFlex {
        margin-top: 20px;
        display: flex;
        gap: 40px;
        justify-content: center;
    }
    .form>label input {
        width: 511px;
    }
    .form label:first-child {
        margin-bottom: 20px;
    }
    .login>div {
        display: flex;
        gap: 5px;
    }
    .form>div>label input {
        width: 100%;
        width: 230px;
    }
    .form>label {
        width: 524px;
        margin: 0 auto;
    }
}

@media only screen and (min-width: 700px) {
    .login h3 {
        font-size: 45px;
        line-height: 56px;
    }
    .form button {
        height: 43px;
    }
}