.header {
    display: grid;
    grid-template-columns: 0.3fr 1.2fr 1.2fr 1fr 1fr 1fr 0.3fr;
    align-items: center;
    background: #F8F9F9;
    padding: 10px 10px;
    gap: 15px;
    min-width: 1080px;
}

.table>div>:last-child {
    justify-self: flex-end;
}

.paginationContainer {
    margin: 25px 0;
    padding-bottom: 15px;
}

.table {
    margin: 30px 0;
    overflow-x: scroll;
}

.table> :nth-child(odd) {
    background: #F8F9F9;
}

.header>p {
    margin: 5px 0;
    color: #4A5154;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
    text-transform: uppercase;
}

.body {
    display: grid;
    grid-template-columns: 0.3fr 1.2fr 1.2fr 1fr 1fr 1fr 0.3fr;
    gap: 15px;
    align-items: center;
    min-width: 1080px;
    padding: 0 10px;
}

.body p {
    color: #191B1C;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    /* 142.857% */
}

.body span {
    color: #4A5154;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    /* 142.857% */
}

.action {
    height: 32px;
    width: 70px;
    cursor: pointer;
    font-size: 12px;
    border-radius: 6px;
    background: #E90404;
    color: #fff;
    border: 2px solid #E90404;
    transition: all 0.8s;
    position: relative;
    overflow: hidden;
    display: block;
    margin: 5px 0;
}

.action:hover {
    background-color: #fff;
    color: #E90404;
}

.dark.table> :nth-child(odd) {
    background: #212121 !important;
}

.dark .header>p {
    color: #c8c8c8 !important;
}

.dark .body p {
    color: #6b6b6b;
}

.dark .body span {
    color: #cecece;
}

@media only screen and (min-width: 1080px) {}