.activity {
    margin: 25px 0;
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    min-height: 150px;
    width: 100%;
}

.dark.activity {
    border: 1px solid rgba(255, 255, 255, 0.15);
}

.content {
    padding: 15px 30px;
    overflow-x: scroll;
}

.header {
    border-bottom: 1px solid rgba(184, 0, 0, 0.10);
    display: grid;
    grid-template-columns: 1.5fr 0.5fr 1.5fr;
    align-items: center;
    padding: 0 15px;
    gap: 20px;
}

.body {
    display: grid;
    grid-template-columns: 1.5fr 0.5fr 1.5fr;
    align-items: center;
    margin: 14px 0;
    padding: 0 15px;
    gap: 20px;
}

.paginationContainer {
    margin: 25px 0;
    padding-bottom: 15px;
}

.header> :last-child,
.body> :last-child {
    justify-self: flex-end;
}

.body> :first-child img {
    width: 35px;
    height: 35px;
    object-fit: cover;
}

.body> :first-child> :first-child {
    width: 12px;
    height: 12px;
}

.body a {
    color: rgba(233, 4, 4, 0.70);
    font-family: Mulish;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.body p {
    color: #000;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    margin-bottom: 5px;
    margin: 0;
}

.dark .body p,
.dark .body> :last-child {
    color: #fff;
}

.body span {
    color: rgba(233, 4, 4, 0.70);
    font-family: Mulish;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

@media only screen and (min-width: 600px) {
    .activity {
        max-width: 760px;
    }
}